{% extends "chat/base.html"%}
{% block content %}
<h1>Purpose</h1>
<h3>To interact, go to the lobby, and begin chatting with others!



    
</h3>
<h6> The purpose of this web app is to showcase how certain attributes of social media foster the creation of negative communities within the platform. </h6>
<h3> What attributes?</h3>
<h6>Anonymity online is the biggest contributor to the creation of these communities. That paired with tools that allow users to voice their radical opinions while remaining hidden is the key to their success.</h6>

{% endblock %}