{% extends "chat/base.html"%}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
<h3>Choose a chat room to enter.</h3><br/>
    <div class = "card-deck">
    <div class="card text-center" >
    <img class="card-img-top" src="https://static01.nyt.com/images/2013/11/18/opinion/rfd-disaster/rfd-disaster-thumbStandard.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Natural Disasters or ‘Acts of God’?</h5>
        <p class="card-text">When the law and people of faith refer to an event as an "act of God," is that constructive or a distraction?</p>
        </div>
        <div class = "card-footer">
            <a id="room-name-input" href="room_1" class="btn btn-primary">Enter Chat</a>
        </div>
    </div>

            <div class="card text-center">
            <img class="card-img-top" src="https://static01.nyt.com/images/2014/06/25/opinion/jesus/jesus-thumbStandard.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">God and Mammon</h5>
                <p class="card-text">Has contemporary American capitalism become incompatible with Christian values?</p>
                </div>
                <div class = "card-footer">
                    <a id="room-name-input" href="room_2" class="btn btn-primary">Enter Chat</a>

                </div> 
            </div>

            <div class="card text-center" >
            <img class="card-img-top" src="https://static01.nyt.com/images/2016/06/15/opinion/RFDChristian-anti-gay/RFDChristian-anti-gay-thumbStandard.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Have Christians Created a Harmful Atmosphere for Gays?</h5>
                <p class="card-text">Church-backed efforts to fight L.G.B.T. rights have been blamed for feeding a hateful atmosphere that accommodates attacks on gays.</p>
                
                </div>
            <div class = "card-footer">
                    <a id="room-name-input" href="room_3" class="btn btn-primary">Enter Chat</a>
            </div>
            </div>

    </div>


    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
</body>
</html>
{% endblock %}